.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: linear-gradient(to top right, blue, #87ceeb);
  
    color: #fff;
      font-family: 'Courier New',Courier,monospace;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display:flex;
      
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  
  .letters{
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
  }
  
  .days{
      color:white;
      font-weight:bold;
      font-size:83px;
      margin-bottom:-20px;
  }
  
  .css{
      color:white;
      font-weight:bolder;
      line-height:15px;
      margin-top:10px;
      font-size:24px;
      
  }
  
  
  
  .number{
      display:flex;
      position: relative;
      margin-bottom:4px;
      
  }
  
  
  .one{
      background-color:white;
      width:21px;
      height:90px;
      margin-bottom:-100px;
      border-radius:4px;
      transform:translatex(15px);
  }
  
  
  .zero{
      width: 50px;
    height: 50px;
    border: 21px solid white;  
    border-radius: 50%;
      margin-bottom:-100px;
      transform:translatex(10px);
  }
  
  .zeroo{
      width: 50px;
    height: 50px;
    border: 21px solid white; 
    border-radius: 50%;
      margin-bottom:-100px;
      transform:translatex(1px);
  }
  
  .one-one{
      width:20px;
      height:54px;
      background-color:white;
      border-radius:4px;
      position:absolute;
      transform:rotateZ(45deg);
      top:-3px;
  }
  